.footer{
    padding: 30px 10px;
    margin-top: 300px;
    background-color: #ddd;
    clear: both;
    box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
    .footer__description{
        font-family:"Source Sans Pro", sans;
        letter-spacing: 2px;
        text-align: center;
        color: #999;
        .heart{
            color: #e74c3c;
            font-size: 25px;
        }
        a{
            color: #318fe8;
            text-decoration: none;
        }
    }
}
