.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    color: #FFF;
    width: 220px;
    a{
        text-decoration: none;
        color: #4269d8;
    }
    p{
        text-align: center;
    }
}
