<header class="header">
    <p class="online_status--off" ng-if="online_status == false">
        <svg aria-hidden="true" class="icon-dislike" viewBox="0 0 58 58">
            <use xlink:href="#dislike"></use>
        </svg>
        It seems like you lost internet connection.
    </p>
    <p class="online_status--on " ng-class="{'online_status--again': online_status && on}" >
        You've connected to the internet again.
    </p>
    <h1><a accesskey="h" ui-sref="app" class="header__logo">GitHub api</a></h1>
</header>
