.logo {
    display: block;
    height: 75px;
    background: #222222;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    color: #FFF;
    font-size: 25px;
    text-align: center;
    line-height: 66px;
    text-decoration: none;
};
