.header{
    display: block;
    border-bottom: 1px solid #f3f3f3;
    .header__logo{
        color: #888;
        font-size: 25px;
        text-align: center;
        line-height: 66px;
        text-decoration: none;
        margin-left: 10px;
    }
};
