.repository__container{
    text-align: center;
    .repository__info{
        a{
            color: $blue-link;
            text-decoration: none;
        }
        .repositories__tag{
            margin-bottom: 20px;
            .repositories__language{
                border: 1px solid #d35400;
                color: #d35400;
                padding: 2px 20px;
            }
        }
        .repository__github{
            display: block;
            margin-top: 20px;
        }
    }

    //load placeholder

    .timeline-wrapper{
        max-width: 400px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        .animated-background{
            height: 164px;
            .title__left{
                top: 0;
                width: 50px;
            }
            .title__right{
                top: 0;
                width: 50px;
                right: 0;
            }
            .description__margin{
                top: 19px;
                width: 100%;
                height: 6px;
            }
        }
    }
}
