<section class="search">
    <input-search-component></input-search-component>
    <aside class="search__menu">
        <ul class="search__menu--block">
            <li class="search__menu--item">Repositories</li>
            <li class="search__menu--item">Code</li>
            <li class="search__menu--item">Users</li>
        </ul>
    </aside>
    <ul class="search__list">
        <li class="search__item">
            <img class="search__avatar" alt="" src="{{SearchCtrl.user.avatar_url}}"/>
            <a class="search__user" ui-sref="user({user: SearchCtrl.getUser()})">{{SearchCtrl.user.login}}</a>
        </li>
    </ul>
</section>
